<!DOCTYPE html>
<html>
    <body>
        <h1>Members</h1>

            <table border="1">
                    <tr>
                        <th>ID</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Options</th>
                    </tr>
                {% for x in mymembers %}
                    <tr>
                        <td>{{ x.id }}</td>
                        <td>{{ x.firstname }}</td>
                        <td>{{ x.lastname }}</td>
                        <td><a href="delete/{{ x.id }}">Delete</a></td>
                        <td><a href="update/{{ x.id }}">Update</a></td>
                    </tr>
                {% endfor %}
            </table>

            <p>
                <a href="add/">Add Members</a>
            </p>
            <!-- <ul>
                {% for x in mymembers %}
                  <li style='background-color:{% cycle 'lightblue' 'pink' 'yellow' 'coral' 'grey' %}'>
                    {{ x.firstname }}
                  </li>
                {% endfor %}
              </ul> -->
    </body>
</html>